// Define your own color palette
$primary: #004d40;
$primary-light: #39796b;
$primary-dark: #39796b;
$secondary: #263238;
$secondary-light: #4f5b62;
$secondary-dark: #000a12;
$danger: #b71c1c;
$warning: #ff6f00;
$success: #07f517;
$info: #00b0ff;
$light: #f5f5f5;
$dark: #212121;

$body-bg: $secondary-dark;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

@import "../../node_modules/bootstrap/scss/bootstrap";